Repository iotaledger/iota-sdk, pull requests merged in 2023-04, with the labels that each got.

#206 fix: remove importsNotUsedAsValues TS option
  sdk/src/client/bindings/nodejs/examples/tsconfig.json
  sdk/src/client/bindings/nodejs/tsconfig.json
  sdk/src/client/bindings/wasm/tsconfig.base.json
  sdk/src/wallet/bindings/nodejs/package-lock.json
  sdk/src/wallet/bindings/nodejs/tsconfig.json
  sdk/src/wallet/bindings/wasm/tsconfig.base.json
Labels: m-types

#218 fix: update tag prefix
  sdk/src/client/bindings/nodejs/package.json
  sdk/src/wallet/bindings/nodejs/package.json
Labels: b-nodejs, i-release

#284 chore: update script pointing latest github release
  sdk/src/wallet/bindings/capacitorjs/add_libs.sh
Labels: b-capacitor
